:not(input):not(textarea) {
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
* {
  margin: 0;
  padding: 0;
}
svg.svg_defs {
  display: none;
}
.horizontal_centerer {
  text-align: center;
}
.horizontal_centerer > div {
  display: inline-block;
}
.horizontal_centerer > img {
  max-width: 100%;
}
.vertical_centerer::before {
  display: inline-block;
  visibility: hidden;
  width: 0;
  height: 100%;
  content: ' ';
  vertical-align: middle;
}
.vertical_centerer > * {
  vertical-align: middle;
}
.vertical_centerer > img {
  max-height: 100%;
}
.one_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#frame_wrapper {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  overflow: hidden;
}
#horizontal_slider {
  width: 200%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
}
.rtl .briefs #horizontal_slider {
  direction: rtl;
}
#frame_main {
  width: 50%;
  height: 100%;
  display: inline-block;
}
.frame_content {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  line-height: 150%;
  overflow: hidden;
}
.rtl .banner .frame_content {
  direction: rtl;
}
.nav_bottom .frame_content {
  height: calc(100% - 40px);
}
.nav_left .frame_content,
.nav_right .frame_content {
  width: calc(100% - 20px);
}
.nav_left .frame_content,
.nav_left_right .frame_content {
  left: 40px;
}
.nav_left_right .frame_content {
  width: calc(100% - 80px);
}
.nav_panel {
  position: absolute;
  display: none;
  font-size: 0;
}
.nav_panel.vertical {
  width: 40px;
  top: 0;
  bottom: 0;
}
.bottom_nav {
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
}
.left_nav {
  left: 0;
}
.right_nav {
  right: 0;
}
.nav_bottom .bottom_nav,
.nav_left .left_nav,
.nav_right .right_nav,
.nav_left_right .left_nav,
.nav_left_right .right_nav {
  display: block;
}
.scroller {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.scroller.vertical_centerer > div {
  display: inline-block;
}
.rtl .scroller.vertical_centerer > div {
  direction: rtl;
}
.bottom_nav {
  overflow: hidden;
  white-space: nowrap;
}
.nav_prev,
.nav_next {
  position: absolute;
}
.horizontal .nav_prev,
.horizontal .nav_next {
  top: 0;
  bottom: 0;
}
.horizontal .nav_prev {
  left: 0;
}
.horizontal .nav_next {
  right: 0;
}
.vertical .nav_prev,
.vertical .nav_next {
  left: 0;
  right: 0;
}
.vertical .nav_prev {
  top: 0;
}
.vertical .nav_next {
  bottom: 0;
}
.nav_icon svg {
  fill: none;
}
.nav_icon:focus {
  outline: 0;
}
.nav_panel .circle svg {
  margin: 5px;
  stroke-width: 1;
  width: 21px;
  height: 21px;
  cursor: pointer;
}
.nav_panel .circle.selected svg {
  cursor: default;
}
.nav_panel.horizontal .circle {
  display: inline-block;
}
.arrow svg {
  width: 28px;
  height: 28px;
  stroke-width: 1;
  cursor: pointer;
}
.bottom_nav .arrow {
  margin: 0 10px;
}
.arrow.downward svg {
  transform: rotate(90deg);
}
.arrow.upward svg {
  transform: rotate(-90deg);
}
.arrow.backward svg {
  transform: rotate(180deg);
}
.rtl #briefs_full .bottom_nav .arrow.forward svg {
  transform: rotate(180deg);
}
.rtl #briefs_full .bottom_nav .arrow.backward svg {
  transform: unset;
}
.session {
  position: absolute;
}
.box.animation_hor .session,
.box.animation_fade .session,
.banner.animation_hor .session {
  top: 0;
  display: inline-block;
  white-space: nowrap;
}
.box.animation_ver .session {
  left: 0;
}
#briefs_full {
  display: none;
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  vertical-align: top;
}
.briefs #briefs_full {
  display: inline-block;
}
#briefs_full .frame_content {
  padding: 0 20px;
  height: calc(100% - 62px);
  white-space: nowrap;
}
#briefs_full .frame_content div {
  white-space: normal;
}
#briefs_full.nav_bottom .frame_content {
  height: calc(100% - 102px);
}
#briefs_full.animation_fade,
#briefs_full.animation_hor {
  white-space: nowrap;
}
.briefs_full_part {
  display: inline-block;
  padding-right: 40px;
  width: 100%;
  height: 100%;
  vertical-align: top;
  white-space: normal;
}
.item {
  white-space: normal;
}
.item.rfloat,
.item.lfloat {
  overflow: hidden;
}
.rtl .item {
  direction: rtl;
}
.timestamp {
  direction: ltr;
}
.box .timestamp {
  margin-bottom: 10px;
}
.box.animation_hor .item,
.box.animation_fade .item {
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
}
.banner .item,
.briefs .item {
  display: inline-block;
  white-space: nowrap;
}
.banner .item > *,
.briefs .item > * {
  display: inline-block;
}
.banner .item > *,
.briefs .item > * {
  padding-left: 10px;
}
.briefs .item > .nav_icon {
  margin-left: 10px;
}
.rtl .banner .item > *,
.rtl .briefs .item > * {
  padding-left: inherit;
  padding-right: 10px;
}
.briefs .item > * {
  vertical-align: middle;
}
.banner .item > * {
  vertical-align: middle;
}
.banner .item > *:first-child,
.briefs .item > *:first-child {
  padding-left: 0;
  padding-right: 0;
}
.image {
  margin: 10px 0;
}
.rfloat .image {
  margin-left: 10px;
  float: right;
}
.lfloat .image {
  margin-right: 10px;
  float: left;
}
.rfloat .story,
.lfloat .story {
  margin: 10px 0;
}
.button {
  border: 0;
  line-height: 150%;
}
.box .button_line {
  margin-top: 10px;
}
.button_line .button {
  display: inline-block;
  padding: 6px 10px;
}
.button_line .button.hidden {
  visibility: hidden;
  padding: 6px 0;
}
.animation_ver .divider,
.banner.animation_fade .divider {
  height: 30px;
}
.animation_hor .divider,
.box.animation_fade .divider {
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: 40px;
}
.briefs .divider {
  display: none;
}
.animation_ver .divider .singleLine {
  height: 0;
  border-top: 1px solid #ccc;
  width: 50%;
}
.animation_hor .divider .singleLine {
  width: 0;
  border-left: 1px solid #ccc;
  height: 50%;
}
.linked {
  cursor: pointer;
}
.nav_back {
  display: inline-block;
  margin: 20px 0 10px 20px;
  height: 30px;
  clear: both;
}
.rtl .nav_back svg {
  transform: unset;
}
.item .SVG_wrapper {
  width: 28px;
  height: 22px;
  cursor: pointer;
}
.item .SVG_wrapper.nav_icon {
  height: 28px;
}
.rtl .item .SVG_wrapper svg {
  transform: scaleX(-1);
}
.cover_all {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}
#system_message {
  margin: 30px 0;
  padding: 10px;
  background: #333;
  color: #fff;
}
#behind_tooltip,
#tooltip {
  display: none;
  position: absolute;
  top: 5px;
  left: 20px;
  padding: 7px 10px;
}
#tooltip {
  max-width: calc(100% - 60px);
  box-shadow: 0 0 7px 1px #333;
}
.attribution {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: #000;
  color: #fff;
  font-family: Arial;
  font: 16px / 22px courier;
  text-align: center;
}
.attribution.top {
  top: 0;
  bottom: auto;
}
